<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="equilibreuse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Numerics.NET" publicKeyToken="9e513770f58567b2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.4.0" newVersion="9.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ScottPlot" publicKeyToken="86698dc10387c39e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.56.0" newVersion="5.0.56.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <equilibreuse.Properties.Settings>
      <setting name="CalibGrams1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CalibGrams2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XMagBalanced" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YMagBalance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XMag1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YMag1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XMag2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YMag2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XAngleCorrect" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YAngleCorrect" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseXGyro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseYGyro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="XAngleCorrectTemporal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YAngleCorrectTemporal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LowPassChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PassBandChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilterOrder" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FilterSelect" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterSmooth" serializeAs="String">
        <value />
      </setting>
      <setting name="AbsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SumChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemoveDCChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dbChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Gain" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="OrderTrackingChecked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FFTSingle" serializeAs="String">
        <value>BlackmanNuttal</value>
      </setting>
      <setting name="FFTGlobal" serializeAs="String">
        <value>BlackmanNuttal</value>
      </setting>
      <setting name="AngleData" serializeAs="String">
        <value>Global FFT</value>
      </setting>
      <setting name="MagData" serializeAs="String">
        <value>Global PkPk Filter</value>
      </setting>
      <setting name="ClockwiseRotating" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="XLockinBalanced" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YLockinBalanced" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="XLockinMag" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YLockinMag" serializeAs="String">
        <value>0</value>
      </setting>
    </equilibreuse.Properties.Settings>
  </userSettings>
</configuration>
